.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    background: var(--lm-bg-content);
    border-radius: 10px;
}

.form > * {
    font-size: 0.85rem;
    font-family: 'Space Mono', monospace;
}

.search_input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: transparent;
    color: var(--lm-text-alt);
    border: none;
}

 .search_input::placeholder {
    color: rgb(181, 181, 181);
    opacity: 1; /* Firefox */
}

.search_input:focus {
    outline: none;
    color: var(--lm-text-alt);
}

.search_input:focus::placeholder {
    opacity: 0;
    transition: 0.5s ease;
}

/* Change the white to any color */
.search_input:-webkit-autofill,
.search_input:-webkit-autofill:hover, 
.search_input:-webkit-autofill:focus, 
.search_input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 35px var(--lm-bg-content) inset !important;
}

/*Change text in autofill textbox*/
.search_input:-webkit-autofill{
    -webkit-text-fill-color: var(--lm-text-alt) !important;
}

.button {
    width: 130px;
    height: 46px;
    margin-right: 7px;
    background: var(--btn);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: var(--btn-hover);
}

@media screen 
and (min-width: 768px) 
and (max-width: 1024px) {
    .form {
        height: 70px;
        padding-left: 33px;
    }

    .search_input {
        font-size: 1.2rem;
        padding-left: 20px;
        letter-spacing: -0.7px;
    }

    .button {
        height: 50px;
        margin-right: 10px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1025px) {
    .form {
        height: 68px;
        padding-left: 33px;
    }

    .search_input {
        font-size: 1.2rem;
        padding-left: 20px;
        letter-spacing: -0.7px;
    }

    .button {
        height: 50px;
        margin-right: 10px;
        font-size: 1rem;
    }


}